main {
  margin-top: 0;
}

.button {
  max-width: 300px;
}

.search{
  width: 55%;
  position: static;
}

.search-bar {
  width: 80%; /*55%*/
  /*position: static;*/
  border: none;
}

.search-button{
  width: 15%;
  padding: 8px;
  color:  var(--light-color);
  background: var(--primary-color);
  outline: none;
  border: 1px solid var(--light-color);
  cursor: pointer;
}

.short-container {
  height: 82vh;
}

.products-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.product-detail-container {
  min-height: 70vh;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

.product-detail__gallery img {
  width: 80%;
  height: auto;
}
